TicketSearchApp/.vs/
TicketSearchApp/TicketSearchApp.Core/bin/
TicketSearchApp/TicketSearchApp.Core/obj/
TicketSearchApp/TicketSearchApp/TicketSearchApp.Android/bin/
TicketSearchApp/TicketSearchApp/TicketSearchApp.Android/obj/
TicketSearchApp/TicketSearchApp/TicketSearchApp.iOS/obj/
TicketSearchApp/TicketSearchApp/TicketSearchApp/bin/
TicketSearchApp/TicketSearchApp/TicketSearchApp/obj/
